*{
    margin: 0;
    padding: 0;
  }
  
  body{
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    background-color: #264d8d;
  }
  
  /* ************************************************* */
  /* TOP NAVIGATION BAR */
  .logo{
    width:130px;
    height:75px;
    /* border: solid black; */
    padding-left: 60%;
  }
  
  .nav{
    width: 98%;
    height: 75px;
    margin: 0 auto;
    /* border: solid black; */
    display: flex;
    align-content: left;
    padding-bottom: 8px;
  }
  
  .navlinks{
    width: 88%;
    height: 75px;
    padding-left: 30%;
    margin: 0 auto;
    /* border: solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  
  .navlinks a{
    height: 38%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    padding: 3px 8px;
    color: rgb(255, 255, 255);
    /* border: solid black; */
    font-size: 20px;
    font-family: Poppins, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    transition: all .2s;
  }
  
  .navlinks a:hover{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0.5em 0.5em -0.4em rgba(205, 205, 205, 0.8);
    transform: translateY(-0.25em);
    cursor: pointer;
  }
  /* ************************************************* */

  /* ************************************************* */
  /* PLUMBING SECTION 1 */
.psection1{
    display: flex;
    width: 100%;
    height: 600px;
    /* border: solid black; */
    justify-content: flex-start;
    background-image: url("pics/bpw.png");
    background-size: cover;
  }

  .words{
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: top;
    align-items: left;
    padding-top: 60px;
  }

  .westplum{
    color: #ffffff;
    font-style: italic;
  }
  .dontlet{
    color: #ffffff;
  }

  .plumbing{
    font-weight: 700;
    font-size: 50px;
    color: white;
  }

  .sec1p{
    padding: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
  }

  .image1{
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 30px;
  }

  .imgplumb{
    display: flex;
    justify-content: center;
    padding-left: 15%;
  }

  .im:hover{
    transform: translateY(-0.25em);
  }
  .plumbing:hover{
    transform: translateY(-0.25em);
  }
  .repairicon:hover{
    transform: translateY(-0.25em);
  }


  .psection2{
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .services, .sec2p{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services{
    font-size: 30px;
    padding: 15px;
    color: #264d8d;
  }
  .sec2p{
    font-size: 18px;
    padding-bottom: 10px;
  }

  .imagesOffer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .offered{
    padding: 20px;
  }

  footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
  }